#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  /* Vertically centers the .centered div */
  justify-content: center;
  /* Horizontally centers the .centered div */
  position: relative;
  /* Needed for the positioning of pseudo-elements */
  overflow: hidden;
  /* Ensures no overflow from the blur effect */
}

body {
  background-image: url('back.webp');
  /* Add additional styling as needed */
}

p {
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  margin-bottom: 20px;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./back2.webp');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  /* Adjust this value to increase or decrease the blur effect */
  z-index: -1;
  /* Ensures the blur is in the background */
}

.centered {
  width: 66%;
  /* Adjust this width to match the desired layout */
  text-align: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.5);
  /* Adds a semi-transparent background */
  border-radius: 10px;
  /* Rounds the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Adds a subtle shadow */
  z-index: 1;
  /* Ensures it is above the blurred background */
}

.image-above-input {
  width: 100%;
  /* Makes the image stretch to the width of .centered */
  height: auto;
  margin-bottom: 10px;
  /* Space between the image and the input field */
}

input[type="text"] {
  width: 90%;
  /* Matches width for uniform look */
  padding: 10px;

  margin-bottom: 10px;
  border-radius: 5px;
  /* Adds rounded corners */
}

button {
  width: 90%;
  /* Matches width for uniform look */
  padding: 10px;

  margin-bottom: 10px;
  border-radius: 5px;
  /* Adds rounded corners */
  margin-left: 3px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}